{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dignissimos dolorem doloremque error exercitationem facilis iste iure iusto maxime nam nisi optio praesentium quam, quas quo repellat saepe vero voluptate?
    </div>
</div>
{% endblock %}
