{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'un binôme</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider" />
    {{ form_end(form) }}

    <button>
        <a href="{{ path('tandem_index') }}">Liste des binômes</a>
    </button>
{% endblock %}
